.menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.menu a {
    text-decoration: none;
    color: #222;
    padding: 8px;
}

/* .menu a:hover {
    color: rgba(113, 0, 148, 0.726);
} */

.menu li:hover {
    background-color:#EEE;
}

.submenu li {
    padding: 3px 0px;
}


.has-submenu {
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu {
    background-color: #fff;
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: normal;
    flex-direction: column;
    position: absolute;
    left: 12px;
    top: 30px;
}

.submenu li:nth-child(1) {
    border-bottom: 1px solid #ccc;
}

body {
    margin-top: 0;
}

.weekly-chart-item {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.ordinal-number {
    font-size: 20px;
    padding: 10px;
}

.song-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.song-title {
    font-weight: 500;
    font-size: 15px;
}

.singer {
    font-size: 12px;
    color: #555;
}

.view-count {
    font-size: 13px;
    color: #555;
}

.album-cover {
    width: 128px;
    height: 128px;
    background-image: url('https://loremflickr.com/128/128');
    background-size: cover;
    background-position: center;
    margin: 20px;
}

.album-cover .overlay {
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    align-items: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 375;
    font-size: 25px;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
}

.album-square {
    width: 128px;
    height: 128px;
    background-image: url('https://loremflickr.com/128/128');
    background-size: cover;
    background-position: center;
    margin: 20px;
}

.album-square .overlay{
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    opacity: 0;
    transition: all 0.5s;
}


.album-square i {
    transform: scale(0);
    transition: all 0.3s;
}

.album-square:hover .overlay{
    opacity: 1;
}

.album-square:hover i{
    transform: scale(0.75);
}