.header {
    height: 100px;
}

.sidebar {
    float: left;
    width: 20%;
}

.main {
    margin-left: 25%;
}

.wrapper::after {
    content: '';
    display: block;
    clear: both;
    height: 0; 
}